.specific-job-details-box {
  background-color: black;
  padding: 20px;
}

.specific-job-detail-container {
  background-color: #121212;
  padding: 20px;
  border-radius: 10px;
}
@media screen and (min-width: 768px) {
  .specific-job-details-box {
    padding: 30px;
  }
  .specific-job-detail-container {
    padding: 30px;
  }
}
@media screen and (min-width: 992px) {
  .specific-job-details-box {
    padding: 40px;
  }
  .specific-job-detail-container {
    padding: 40px;
  }
}
.specific-job-header {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.specific-job-company-logo {
  height: 45px;
  width: 45px;
  margin-top: 10px;
  margin-right: 15px;
}
.specific-job-detail-title {
  font-family: 'Roboto';
  color: white;
  font-size: 18px;
  margin-bottom: 0px;
}
.specific-star-icon {
  color: gold;
  margin-right: 10px;
  font-size: 25px;
}

.details-rating-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 0px;
}
.specific-rating {
  font-family: 'Roboto';
  color: white;
  font-size: 20px;
  font-weight: 500;
}
.details-location-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-right: 20px;
}
.job-details-location-icon {
  color: white;
  margin-right: 10px;
}
.specific-location-details {
  color: white;
  font-family: 'Roboto';
}
.job-details-package {
  font-family: 'Roboto';
  color: white;
  font-weight: 600;
}
.specific-job-info-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.specific-job-location-type-box {
  display: flex;
  align-items: center;
}
@media screen and (min-width: 992px) {
  .job-details-location-icon {
    font-size: 22px;
  }
  .specific-location-details {
    font-size: 20px;
  }
  .job-details-package {
    font-size: 20px;
  }
}
.specific-job-description-heading {
  font-family: 'Roboto';
  color: white;
  font-size: 18px;
  margin-bottom: 0px;
}
.company-link-box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: white;
}
.job-details-description-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.specific-job-description {
  font-family: 'Roboto';
  color: white;
  font-size: 18px;
  line-height: 1cm;
  margin-top: 5px;
}
@media screen and (min-width: 992px) {
  .specific-job-description-heading {
    font-size: 26px;
  }
  .specific-job-description {
    font-size: 20px;
  }
  .company-link-box {
    font-size: 20px;
  }
}
.skills-set {
  list-style-type: none;
  padding-left: 0px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 5px;
}
.skill {
  display: flex;
  align-items: center;
  width: 50%;
}
.skill-img {
  height: 30px;
  width: 30px;
  margin-right: 10px;
}
.skill-name {
  font-family: 'Roboto';
  color: white;
  font-weight: 500;
}
.life-at-container {
  margin-top: 35px;
}
.skills-section {
  margin-top: 35px;
}
@media screen and (min-width: 768px) {
  .skill {
    width: 150px;
  }
}
@media screen and (min-width: 992px) {
  .skill-img {
    height: 40px;
    width: 40px;
  }
  .skill-name {
    font-size: 20px;
  }
}
.life-at-image {
  width: 100%;
  height: 300px;
}
@media screen and (min-width: 768px) {
  .life-at-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .life-at-image {
    margin: 20px;
    width: 300px;
  }
  .life-at-text-container {
    flex-grow: 1;
  }
}
@media screen and (min-width: 1200px) {
  .life-at-image {
    width: 500px;
  }
}
.similar-jobs-heading {
  font-family: 'Roboto';
  color: white;
}
.similar-jobs-list {
  list-style-type: none;
  padding: 0px;
  display: flex;
  justify-content: flex-start;

  flex-wrap: wrap;
}
